# Proto Service CI/CD Pipeline
#
# Uses the proto-gen component for code generation and publishing.
# See: https://gitlab.com/gitops-poc-dzha/api/ci
#
# Required CI/CD Variables (set at api group level):
#   CI_PUSH_TOKEN - Personal Access Token (glpat-...) with api, write_repository scopes
#   GEN_GROUP_ID  - GitLab Group ID for api/gen

include:
  - component: gitlab.com/gitops-poc-dzha/api/ci/proto-gen@1.0.0
    inputs:
      languages: [go, nodejs, php, python, angular]
