apiVersion: v1
kind: Service
metadata:
  name: mongodb
  namespace: infra-dev
  labels:
    app: mongodb
spec:
  type: ClusterIP
  ports:
  - port: 27017
    targetPort: 27017
    name: mongodb
  selector:
    app: mongodb
