# ArgoCD ApplicationSet for Multi-Environment Deployment
# Uses k8app/app chart v3.5.1 with Vault Secrets Operator integration
# GitLab Group: gitops-poc-dzha

apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: gitops-poc-dzha-services
  namespace: argocd
spec:
  generators:
    - matrix:
        generators:
          - list:
              elements:
                - service: api-gateway
                  repoURL: https://gitlab.com/gitops-poc-dzha/api-gateway.git
                  syncWave: "0"
                # auth-adapter is now a sidecar in api-gateway pod
                - service: web-grpc
                  repoURL: https://gitlab.com/gitops-poc-dzha/web-grpc.git
                  syncWave: "0"
                - service: web-http
                  repoURL: https://gitlab.com/gitops-poc-dzha/web-http.git
                  syncWave: "0"
                - service: health-demo
                  repoURL: https://gitlab.com/gitops-poc-dzha/health-demo.git
                  syncWave: "0"

          - list:
              elements:
                - env: dev
                  autoSync: "true"
                # - env: staging
                #   autoSync: "true"
                # - env: prod
                #   autoSync: "false"

  template:
    metadata:
      name: '{{service}}-{{env}}'
      namespace: argocd
      labels:
        app.kubernetes.io/name: '{{service}}'
        environment: '{{env}}'
        app.kubernetes.io/part-of: gitops-poc-dzha
      annotations:
        argocd.argoproj.io/sync-wave: '{{syncWave}}'
    spec:
      project: gitops-poc-dzha

      sources:
        - repoURL: https://d7561985.github.io/k8app
          chart: app
          targetRevision: '3.5.1'
          helm:
            valueFiles:
              - $values/.cicd/default.yaml
              - $values/.cicd/{{env}}.yaml

        - repoURL: '{{repoURL}}'
          targetRevision: main
          ref: values

      destination:
        server: https://kubernetes.default.svc
        namespace: 'poc-{{env}}'

      syncPolicy:
        syncOptions:
          - CreateNamespace=true
          - PruneLast=true
          - ApplyOutOfSyncOnly=true
        automated:
          prune: true
          selfHeal: true

      ignoreDifferences:
        - group: apps
          kind: Deployment
          jsonPointers:
            - /spec/replicas

      revisionHistoryLimit: 3
